.advantages-section {
  background: #e1eef9;

  @include media(desktop) {
  }
}

.advantages-bg-wrapper {
  padding-top: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.advantages-container {
  padding: 0;

  @include media(desktop) {
  }
}

.advantages-content-wrapper {
  padding: 0 16px;

  @include media(desktop) {
    padding: 0 120px;
  }
}

.advantages-subtitle {
  max-width: 313px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 698px;
  }
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include media(desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 32px;
  }
}

.advantages-slide {
  box-shadow: 0 4px 4px 0 rgba(75, 75, 75, 0.2);
  background: #f5f5f5;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include media(desktop) {
    width: 100%;
    max-width: 200px;
  }
}

.advantages-item-title {
  border-bottom: 1px solid #d75a00;
  padding-bottom: 15px;
  font-family: 'Funnel Display', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #566078;

  @include media(desktop) {
  }
}

.advantages-img {
  @include media(desktop) {
  }
}

.advantages-item-text {
  font-family: 'Funnel Display', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: #2a303e;

  @include media(desktop) {
  }
}

.advantages-bg-img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;

  @include media(desktop) {
  }
}
