.footer {
  background: #e1eef9;
  border-top: 1px solid #c1b7ac;

  @include media(desktop) {
  }
}

.footer-bg-wrapper {
  padding: 80px 0;

  @include media(desktop) {
  }
}

.footer-container {
  @include media(desktop) {
  }
}

.footer-content-wrapper {
  @include media(desktop) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.footer-btn {
  margin-bottom: 32px;

  @include media(desktop) {
    margin-bottom: 0;
    order: 2;
  }
}

.footer-nav {
  margin-bottom: 32px;

  @include media(desktop) {
    margin-bottom: 0;
    order: 3;
  }
}

.footer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 73px;

  @include media(desktop) {
    gap: 106px;
  }
}

.footer-list-item {
}

.footer-link {
  font-family: 'Funnel Display', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #2a303e;

  @include media(desktop) {
  }
}

.footer-text {
  font-family: 'Funnel Display', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #2a303e;

  @include media(desktop) {
    order: 1;
  }
}

.footer-br {
  @include media(desktop) {
    display: none;
  }
}

.footer-span {
  display: none;

  @include media(desktop) {
    display: inline;
  }
}
