<section class="section about-section" id="about">
  <div class="section-title-wrapper about-title-wrapper">
    <div class="container section-title-container">
      <svg class="paw-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-paw"></use>
      </svg>
      <h2 class="section-title about-title">About the Game</h2>
      <svg class="paw-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-paw"></use>
      </svg>
    </div>
  </div>
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <p class="section-subtitle about-subtitle">
        A journey through sweet challenges
      </p>
      <div class="about-content-wrapper">
        <p class="about-top-text">
          It's got the usual match-3 gameplay you'd expect, plus there's a bit
          of an adventure element thrown in. Players move across a map,
          unlocking new areas while solving increasingly varied puzzles.
        </p>
        <p class="about-bottom-text">
          The developers clearly put a lot of effort into making each level feel
          rewarding to complete, and honestly? The visuals are pretty stunning –
          way better than I have ever expected. I’m impressed!
        </p>
        <img
          class="about-img"
          src="./img/about/about-img-mob.png"
          alt="Screenshot of the game"
          width="160"
          height="203"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
