<section class="advantages-section section" id="advantages">
  <div class="section-title-wrapper advantages-title-wrapper">
    <div class="container section-title-container">
      <svg class="paw-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-star"></use>
      </svg>
      <h2 class="section-title advantages-title">What Makes It Special</h2>
    </div>
  </div>
  <div class="advantages-bg-wrapper">
    <div class="container advantages-container">
      <div class="advantages-content-wrapper">
        <p class="section-subtitle advantages-subtitle">
          Honestly, this isn't like other puzzle games I've played
        </p>
        <ul class="advantages-list">
          <li class="advantages-slide">
            <h3 class="advantages-item-title">Exploration Focus</h3>
            <p class="advantages-item-text">
              Not just solving, but discovering.
            </p>
          </li>
          <li class="advantages-slide">
            <h3 class="advantages-item-title">Relaxed Pace</h3>
            <p class="advantages-item-text">No rush, just thoughtful play.</p>
          </li>
          <li class="advantages-slide">
            <h3 class="advantages-item-title">Memorable Levels</h3>
            <p class="advantages-item-text">Each stage feels handcrafted.</p>
          </li>
          <li class="advantages-slide">
            <h3 class="advantages-item-title">Visual Storytelling</h3>
            <p class="advantages-item-text">
              The world communicates without heavy text.
            </p>
          </li>
        </ul>
      </div>
      <picture>
        <source
          srcset="./img/advantages/advantages-bg-desk.jpg"
          media="(min-width: 1440px)"
          width="1440"
          height="796" />
        <source
          srcset="./img/advantages/advantages-bg-mob.jpg"
          width="375"
          height="272" />
        <img
          class="advantages-bg-img"
          src="./img/advantages/advantages-bg-mob.jpg"
          alt="Screenshot of the game"
          width="375"
          height="272"
          loading="lazy"
      /></picture>
    </div>
  </div>
</section>
