<section class="features-section section" id="features">
  <div class="section-title-wrapper features-title-wrapper">
    <div class="container section-title-container">
      <svg class="paw-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-paw"></use>
      </svg>
      <h2 class="section-title features-title">Features</h2>
      <svg class="paw-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-paw"></use>
      </svg>
    </div>
  </div>
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <div class="features-content-wrapper">
        <p class="section-subtitle features-subtitle">
          Bright and engaging gameplay
        </p>
        <ul class="features-list">
          <li class="features-slide">
            <svg class="features-icon" width="48" height="48">
              <use href="./img/sprite.svg#icon-features1"></use>
            </svg>
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Colorful Style</p>
              <p class="features-item-text">
                Candy-inspired environments and effects.
              </p>
            </div>
          </li>
          <li class="features-slide">
            <svg class="features-icon" width="48" height="48">
              <use href="./img/sprite.svg#icon-features2"></use>
            </svg>
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Level Variety</p>
              <p class="features-item-text">
                Different layouts and challenges.
              </p>
            </div>
          </li>
          <li class="features-slide">
            <svg class="features-icon" width="48" height="48">
              <use href="./img/sprite.svg#icon-features3"></use>
            </svg>
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Smooth Controls</p>
              <p class="features-item-text">
                Easy and responsive interactions.
              </p>
            </div>
          </li>
          <li class="features-slide">
            <svg class="features-icon" width="48" height="48">
              <use href="./img/sprite.svg#icon-features4"></use>
            </svg>
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Reward System</p>
              <p class="features-item-text">
                Consistent progression and bonuses.
              </p>
            </div>
          </li>
          <li class="features-slide">
            <svg class="features-icon" width="48" height="48">
              <use href="./img/sprite.svg#icon-features5"></use>
            </svg>
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Accessible Mechanics</p>
              <p class="features-item-text">
                Easy to learn, enjoyable to master.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
