<section class="features-section section" id="features">
  <div class="section-title-wrapper features-title-wrapper">
    <div class="container section-title-container">
      <svg class="paw-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-star"></use>
      </svg>
      <h2 class="section-title features-title">Key Features</h2>
    </div>
  </div>
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <div class="features-content-wrapper">
        <p class="section-subtitle features-subtitle">
          Perfect if you're the type who loves figuring things out
        </p>
        <ul class="features-list">
          <li class="features-slide">
            <svg class="features-icon" width="48" height="48">
              <use href="./img/sprite.svg#icon-features2"></use>
            </svg>
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Soft Visual Style</p>
              <p class="features-item-text">
                It's got this chill, almost storybook feel to it.
              </p>
            </div>
          </li>
          <li class="features-slide">
            <svg class="features-icon" width="48" height="48">
              <use href="./img/sprite.svg#icon-features3"></use>
            </svg>
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Gradual Complexity</p>
              <p class="features-item-text">
                Puzzles grow more intricate over time.
              </p>
            </div>
          </li>
          <li class="features-slide">
            <svg class="features-icon" width="48" height="48">
              <use href="./img/sprite.svg#icon-features1"></use>
            </svg>
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Creative Level Design</p>
              <p class="features-item-text">Each stage feels unique.</p>
            </div>
          </li>
          <li class="features-slide">
            <svg class="features-icon" width="48" height="48">
              <use href="./img/sprite.svg#icon-features4"></use>
            </svg>
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Narrative Flow</p>
              <p class="features-item-text">
                Playing through it actually feels like you're going somewhere.
              </p>
            </div>
          </li>
          <li class="features-slide">
            <svg class="features-icon" width="48" height="48">
              <use href="./img/sprite.svg#icon-features5"></use>
            </svg>
            <div class="features-item-text-wrapper">
              <p class="features-item-title">Interactive Environments</p>
              <p class="features-item-text">
                Everything you touch actually does something - it's pretty cool.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
