<section class="section gameplay-section" id="gameplay">
  <div class="section-title-wrapper gameplay-title-wrapper">
    <div class="container section-title-container">
      <svg class="paw-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-paw"></use>
      </svg>
      <h2 class="section-title gameplay-title">How To Play</h2>
      <svg class="paw-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-paw"></use>
      </svg>
    </div>
  </div>
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <div class="gameplay-content-wrapper">
        <p class="section-subtitle gameplay-subtitle">Match, clear, advance</p>
        <ul class="gameplay-list">
          <li class="gameplay-slide">
            <picture>
              <source
                srcset="./img/gameplay/gameplay-img1-desk.png"
                media="(min-width: 1440px)"
                width="440"
                height="110" />
              <source
                srcset="./img/gameplay/gameplay-img1-mob.png"
                width="303"
                height="80" />
              <img
                class="gameplay-img"
                src="./img/gameplay/gameplay-img1-mob.png"
                alt="Screenshot of the game"
                width="303"
                height="80"
                loading="lazy"
            /></picture>
            <div class="gameplay-item-text-wrapper">
              <p class="gameplay-item-title">Swap Pieces</p>
              <p class="gameplay-item-text">
                Move tiles to align three or more identical items.
              </p>
            </div>
          </li>
          <li class="gameplay-slide">
            <picture>
              <source
                srcset="./img/gameplay/gameplay-img2-desk.png"
                media="(min-width: 1440px)"
                width="440"
                height="110" />
              <source
                srcset="./img/gameplay/gameplay-img2-mob.png"
                width="303"
                height="80" />
              <img
                class="gameplay-img"
                src="./img/gameplay/gameplay-img2-mob.png"
                alt="Screenshot of the game"
                width="303"
                height="80"
                loading="lazy"
            /></picture>
            <div class="gameplay-item-text-wrapper">
              <p class="gameplay-item-title">Create Combos</p>
              <p class="gameplay-item-text">
                Build larger matches to trigger powerful effects.
              </p>
            </div>
          </li>
          <li class="gameplay-slide">
            <picture>
              <source
                srcset="./img/gameplay/gameplay-img3-desk.png"
                media="(min-width: 1440px)"
                width="440"
                height="110" />
              <source
                srcset="./img/gameplay/gameplay-img3-mob.png"
                width="303"
                height="80" />
              <img
                class="gameplay-img"
                src="./img/gameplay/gameplay-img3-mob.png"
                alt="Screenshot of the game"
                width="303"
                height="80"
                loading="lazy"
            /></picture>
            <div class="gameplay-item-text-wrapper">
              <p class="gameplay-item-title">Complete Goals</p>
              <p class="gameplay-item-text">
                Finish level objectives to progress.
              </p>
            </div>
          </li>
          <li class="gameplay-slide">
            <picture>
              <source
                srcset="./img/gameplay/gameplay-img4-desk.png"
                media="(min-width: 1440px)"
                width="440"
                height="110" />
              <source
                srcset="./img/gameplay/gameplay-img4-mob.png"
                width="303"
                height="80" />
              <img
                class="gameplay-img"
                src="./img/gameplay/gameplay-img4-mob.png"
                alt="Screenshot of the game"
                width="303"
                height="80"
                loading="lazy"
            /></picture>
            <div class="gameplay-item-text-wrapper">
              <p class="gameplay-item-title">Use Boosters</p>
              <p class="gameplay-item-text">
                Activate special abilities for tougher stages.
              </p>
            </div>
          </li>
          <li class="gameplay-slide">
            <picture>
              <source
                srcset="./img/gameplay/gameplay-img5-desk.png"
                media="(min-width: 1440px)"
                width="440"
                height="110" />
              <source
                srcset="./img/gameplay/gameplay-img5-mob.png"
                width="303"
                height="80" />
              <img
                class="gameplay-img"
                src="./img/gameplay/gameplay-img5-mob.png"
                alt="Screenshot of the game"
                width="303"
                height="80"
                loading="lazy"
            /></picture>
            <div class="gameplay-item-text-wrapper">
              <p class="gameplay-item-title">Unlock New Areas</p>
              <p class="gameplay-item-text">Advance across the world map.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
