<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-text-wrapper">
          <h1 class="hero-main-title">
            Guide the Journey.<br />
            Solve the Path.
          </h1>
          <p class="hero-subtitle">
            Every path hides a story.<br />
            You'll keep finding little surprises as you play.
          </p>
          <a
            class="hero-btn"
            target="_blank"
            href="https://play.google.com/store/apps/details?id=games.matrix4.hobytales&hl=en&gl=us"
            rel="noopener noreferrer"
            aria-label="Download on Google Play"
            ><svg class="playstore-icon" width="164" height="40">
              <use href="./img/sprite.svg#icon-playstore"></use></svg
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
