<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-text-wrapper">
          <p class="hero-subtitle">
            Everything's candy-themed and there are some fun surprises along the
            way.
          </p>
          <h1 class="hero-main-title">
            Match Sweet Pieces,<br />
            Explore New Worlds.
          </h1>
          <a
            class="hero-btn"
            target="_blank"
            href="https://play.google.com/store/apps/details?id=com.qingyuegames.petmatch&hl=en&gl=us"
            rel="noopener noreferrer"
            aria-label="Download on Google Play"
            ><svg class="playstore-icon" width="164" height="40">
              <use href="./img/sprite.svg#icon-playstore"></use></svg
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
