<section class="section progression-section" id="progression">
  <div class="section-title-wrapper progression-title-wrapper">
    <div class="container section-title-container">
      <svg class="paw-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-star"></use>
      </svg>
      <h2 class="section-title progression-title">Game World</h2>
    </div>
  </div>
  <div class="progression-bg-wrapper">
    <div class="container progression-container">
      <p class="section-subtitle progression-subtitle">
        It's a tiny world,<br />
        but man does it have character
      </p>
      <div class="progression-content-wrapper">
        <picture>
          <source
            srcset="./img/progression/progression-img1-desk.png"
            media="(min-width: 1440px)"
            width="300"
            height="169" />
          <source
            srcset="./img/progression/progression-img1-mob.png"
            width="343"
            height="190" />
          <img
            class="progression-img"
            src="./img/progression/progression-img1-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="190"
            loading="lazy"
        /></picture>
        <p class="progression-text">
          The world of Hoby Tales is built around small-scale environments where
          everyday objects become part of the adventure. Each location
          introduces new mechanics and visual themes.
        </p>
        <picture>
          <source
            srcset="./img/progression/progression-img2-desk.png"
            media="(min-width: 1440px)"
            width="300"
            height="169" />
          <source
            srcset="./img/progression/progression-img2-mob.png"
            width="343"
            height="190" />
          <img
            class="progression-img"
            src="./img/progression/progression-img2-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="190"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
