<section class="testimonials-section section" id="testimonials">
  <div class="section-title-wrapper testimonials-title-wrapper">
    <div class="container section-title-container">
      <svg class="paw-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-paw"></use>
      </svg>
      <h2 class="section-title testimonials-title">Reviews</h2>
      <svg class="paw-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-paw"></use>
      </svg>
    </div>
  </div>
  <div class="testimonials-bg-wrapper">
    <div class="container testimonials-container">
      <div class="testimonials-content-wrapper">
        <p class="section-subtitle testimonials-subtitle">What players say</p>
        <ul class="testimonials-list">
          <li class="testimonials-slide">
            <div class="testimonials-name-wrapper">
              <p class="testimonials-item-name">Anna L.</p>
              <img
                class="testimonials-img"
                src="./img/testimonials/testimonials-5-stars.png"
                alt="Rating"
                width="80"
                height="16"
              />
            </div>
            <p class="testimonials-item-text">
              “Okay, so the colors are absolutely gorgeous - like seriously eye
              candy (pun intended lol). I started playing around 2pm yesterday
              and next thing I knew it was past 5. Oops!”
            </p>
          </li>
          <li class="testimonials-slide">
            <div class="testimonials-name-wrapper">
              <p class="testimonials-item-name">Martin W.</p>
              <img
                class="testimonials-img"
                src="./img/testimonials/testimonials-5-stars.png"
                alt="Rating"
                width="80"
                height="16"
              />
            </div>
            <p class="testimonials-item-text">
              “Been searching for a good puzzle game for weeks and this one's
              perfect. Not too easy, not frustratingly hard - just hits that
              sweet spot where I can actually relax while playing.”
            </p>
          </li>
          <li class="testimonials-slide">
            <div class="testimonials-name-wrapper">
              <p class="testimonials-item-name">Leo K.</p>
              <img
                class="testimonials-img"
                src="./img/testimonials/testimonials-4-stars.png"
                alt="Rating"
                width="64"
                height="16"
              />
            </div>
            <p class="testimonials-item-text">
              “Nice visuals and smooth gameplay.”
            </p>
          </li>
          <li class="testimonials-slide">
            <div class="testimonials-name-wrapper">
              <p class="testimonials-item-name">Miley P.</p>
              <img
                class="testimonials-img"
                src="./img/testimonials/testimonials-4-stars.png"
                alt="Rating"
                width="64"
                height="16"
              />
            </div>
            <p class="testimonials-item-text">“Relaxing and easy to play.”</p>
          </li>
          <li class="testimonials-slide">
            <div class="testimonials-name-wrapper">
              <p class="testimonials-item-name">Natasha M.</p>
              <img
                class="testimonials-img"
                src="./img/testimonials/testimonials-5-stars.png"
                alt="Rating"
                width="80"
                height="16"
              />
            </div>
            <p class="testimonials-item-text">“Love the colorful design.”</p>
          </li>
        </ul>
      </div>
      <picture>
        <source
          srcset="./img/testimonials/testimonials-bg-desk.jpg"
          media="(min-width: 1440px)"
          width="1440"
          height="585" />
        <source
          srcset="./img/testimonials/testimonials-bg-mob.jpg"
          width="375"
          height="243" />
        <img
          class="testimonials-bg-img"
          src="./img/testimonials/testimonials-bg-mob.jpg"
          alt="Screenshot of the game"
          width="375"
          height="243"
          loading="lazy"
      /></picture>
    </div>
  </div>
</section>
